<div>
  <h1 class="font-bold text-4xl">Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>
  <% if user_signed_in? %>
    <%= link_to 'Logoff', destroy_user_session_path, data: { "turbo-method": :delete } %>
  <% else %>
    <%= link_to 'Login', new_user_session_path %>
  <% end %>

</div>
